@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&family=Permanent+Marker&display=swap');

.sub-heading {
  color: orange;
  font-size: 2rem;
}


.heading {
  font-family: 'Permanent Marker';
  font-size: 3rem;
  color: slateblue;
  margin: auto;
  text-align: center;
}