@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Lato:ital@1&family=Permanent+Marker&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root{font-family:'Lato', sans-serif}
body {
  background-color: #fbfbfb;
  font-family: 'crazy', sans-serif;
  color: 'red';
  margin:50px;
}
